@charset "utf-8";
.navbar-form {
    padding: 0;
    margin-top: 0;
}

.clear {
    clear: both;
}

/*布局*/
.text-indent-1 {
    text-indent: 10px;
}

.sidebar-box {
    margin-bottom: 20px;
    background-color: #f5f5f5;
    border: 1px solid #ddd;
    border-radius: 4px;
    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
    box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
}

.first-level-menu {
    /*background-color: #f5f5f5;*/
}

.login {
    width: 350px;
    margin: 0 auto;
    height: auto;
    padding: 20px;
    /*border: 1px solid #ddd;*/
    border-radius: .4rem;
    background: url("../images/bg-white-lock.png");
}

.checkbox input {
    width: 15px;
    height: 15px;

}

.second-level-menu {
    background-color: #fff;
}

.login h4 {
    padding-left: 30px;
    margin: 45px auto
}

.label-half {
    width: 48%;
    position: relative;
    min-height: 1px;
    padding-right: 10px;
    padding-left: 10px;
    padding-bottom: 15px;
}

.select-right {
    width: 30%;
    float: left;
    margin-right: 5px;
}

.form-label label {
    width: 210px;
}

.transfer-time label {
    min-height: 1px;
    padding-right: 10px;
    padding-left: 10px;
    padding-bottom: 15px;
    float: left;
}

.transfer-time input {
    width: 30%;
    float: left;
}

/*颜色*/
.red {
    color: #d9534f;
}

/*登录背景*/
.login-background {
    background: url("../images/1.jpg") no-repeat 0 0;
    background-size: cover;

}

/*logo*/

.navbar-brand {

    padding: 10px 15px 15px;

}

.bg-white{
    padding: 15px;
    background: #fff;
    margin-bottom: 15px;
}